.cards {
    font-size: 0.75rem;
    height: 100%;
    width: 100%;
    // background-color: rgb(71, 64, 54);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 0.4rem;
    // padding: 0.5rem;
    align-items: center;

    .card {
        height: 25rem;
        // width: 50%;
        // max-width:29rem;
        margin: 0.5rem;
        
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        flex-basis: 10rem;
        flex-grow: 1;
        // min-width: 250px;
          max-width: 25rem;

        // align-items: space-around;
        justify-content: space-around;
        background-color: rgb(59, 55, 55);
        border-radius: 0.5rem;

        .image {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
                // height: 8rem;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            // leading: 1.5;
            // line-height: 1rem;
        }

        .tags {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.2rem;

            .tag {

                padding: 0.2rem 0.4rem;
                border-radius: 0.4rem;
                border: solid 1px rgb(0, 0, 0);
                background-color: rgba(41, 39, 39, 0.842);
                color: white;
                white-space: nowrap;
            }
        }

        .url {
            display: flex;
            // align-items: center;
            // justify-content: space-around;
            gap: 6rem;
            // gap: 7.9rem;
            color: white;
            white-space: nowrap;

            a {
                color: white;
            }
        }
    }
}